DRY_RUN=true

WATCHLIST=IDEA-EQ,ITC-EQ,SAIL-EQ
SYMBOL=IDEA-EQ
EXCHANGE=NSE
TRADE_TYPE=INTRADAY
MAX_TRADES_PER_DAY=4
MAX_OPEN_POSITIONS=2
AMOUNT_PER_TRADE=5000
INTRADAY_LEVERAGE=5
MIN_QUANTITY=2
PROFIT_TARGET_PCT=1
STOP_LOSS_PCT=2
TRAILING_ARM_PCT=0.8
TRAILING_LOCK_PCT=0.5
SMA_MIN_MARGIN_PCT=0.15
VOLUME_SPIKE_MULT=1.2
TREND_15MIN_COUNT=20
RESISTANCE_MARGIN_PCT=0.5
DAILY_LOSS_CAP=150
COOLDOWN_AFTER_STOP_MIN=30
CANDLE_COUNT=50
ANALYZE_EVERY_SEC=300
ANALYZE_ROTATE_SEC=45
MONITOR_EVERY_SEC=60
CANDLE_REFRESH_SEC=1800
NO_BUY_AFTER_HOUR=14
NO_BUY_AFTER_MIN=0
API_ERROR_BACKOFF_SEC=45

ANGEL_API_KEY=
ANGEL_CLIENT_ID=
ANGEL_PASSWORD=
ANGEL_TOTP_SECRET=
ANGEL_LOCAL_IP=127.0.0.1
ANGEL_PUBLIC_IP=

USE_MOCK_DATA=true

SCANNER_ENABLED=true
SCANNER_ALLOW_ENV_FALLBACK=false
SCANNER_WAIT_935=true
SCANNER_MIN_GAIN_PCT=0.15
SCANNER_MIN_VOLUME=10000
SCANNER_MIN_PRICE=20
SCANNER_MAX_PRICE=2500
INSTRUMENT_CACHE_PATH=./data/.instrument-master-cache.json

TELEGRAM_ENABLED=false
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
